<section class="card">
    <a href="/blogpost/{{id}}">
        <div class="card-header">{{title}}</div>
        <div class="card-body">{{contents}}</div>
        <div class="card-body">{{user.name}}</div>
    </a>
</section>

