<section class="container">
    {{> blogpost-details}}
    <section id="blogpost-comment-section">
        {{#each comments as |comment|}}
            {{> comment-details}}
        {{/each}}
    </section>
    {{#if logged_in}}
        <div class="form-outline comment-form" data-id="{{id}}">
            <textarea class="form-control" id="comment1" rows="4"></textarea>
            <label class="form-label" for="comment">Comment</label>
            <button type="submit" class="btn btn-primary">Post Comment</button>
        </div>
    {{/if}}
</section>

<script src="/js/blogpost-view.js"></script>