<form class="form new-blogpost-form">
    <div class="form-group">
        <label for="blogpost-title">Post Title:</label>
        <input class="form-input" type="text" id="blogpost-title" name="blogpost-title" />
    </div>
    <div class="form-group">
        <label for="blogpost-contents">Contents:</label>
        <input class="form-input" type="text" id="blogpost-contents" name="blogpost-contents" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Post</button>
    </div>
</form>

<script src="./js/new-blogpost.js"></script>