<form class="form new-project-form">
    <div class="form-group">
        <label for="blogpost-title">Post Title:</label>
        <textarea class="form-textarea" id="blogpost-title" name="blogpost-title">{{title}}</textarea>
    </div>
    <div class="form-group">
        <label for="blogpost-contents">Contents:</label>
        <textarea class="form-input" id="blogpost-contents" name="blogpost-contents">{{contents}}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update Post</button>
    </div>
</form>

<script src="./js/dashboard.js"></script>